# Built application files
*.apk
*.ap_
*.aab
*.class

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc.)
local.properties

# Android Studio files
/.idea
/.idea/

# User-specific files (change history, settings, etc.)
/.gradle
/.gradle/
/.android

# Kotlin-specific files
*.kotlin_module

# Logs and crash reports
*.log
crashlytics-build.properties

# Thumbnails
/thumbs/
